%tr{:class => "year"}
 %th 2010
%tr{:class => "archive"}
 %th Nov 12
 %td 
  %a{:href => "/sync-text-files"} sync with text files
%tr{:class => "archive"}
 %th Nov 12
 %td 
  %a{:href => "/reboot"} reboot

